#title-header{
    margin-left: 40px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  margin-bottom: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.btn {
  background: #3b82f6;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

.logout {
  background: #ef4444;
}

.logout:hover {
  background: #dc2626;
}

.badge {
  padding: 2px 5px;
  border-radius: 6px;
  background: #10b981;
  font-size: 1.2rem;
}

#profileSection p{
  margin-bottom: 0.8rem;
}
.users-list {
  margin-top: 15px;
}

.user-item {
  padding: 10px;
  background: rgba(255,255,255,0.05);
  margin-bottom: 8px;
  border-radius: 6px;
}

.user-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.userForm{
  text-align: center;
  background: rgba(255,255,255,0.05);
  border-radius: 6px;
  max-width: 300px;
  padding: 1rem;
}

#newUserForm div{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#editTitle{
  margin-bottom: 20px;
}

#editUserForm div{
  margin-bottom: 1rem ;
  display: flex;
}

.item-edit{
  margin-left: 0.5rem;
}

.div-editButton{
    display:flex;
    justify-content:center;
}
#div-btnEdit button{
  padding: 6px;
}

.btnInListUpdate{
    padding: 6px 10px;
    font-size: 0.8rem;
    margin: 0 1px;
}

#btnInListDelete:hover{
  background: var(--userInactive);
}


@media (max-width: 768px) {

  #title-header {
    margin-left: 0;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .card {
    padding: 18px;
  }

  .users-list div {
    font-size: 0.9rem;
    word-break: break-word;
  }

}